.main-wrapper {
	padding: 30px;
}

table {
	font-family: verdana,helvetica,arial,sans-serif;
}
.data-table th{
	font-size: 1.4em;
	text-align: left;
	padding-bottom: 4px;
	background-color: #A7C942;
	color: #fff;
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
}

.data-table td {
	font-size: 1.2em;
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
	line-height: 130%;
}

tr:nth-child(even) {
	background-color: #EAF2D3;
}

.nav-buttons {
	margin-top: 2%;

}

button {
	margin-right: 15%;
}